* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.calculator.container {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 20px;
    flex-flow: column nowrap;
    row-gap: 30px;
    border-radius: 20px;
}

.button.container {
    display: flex;
}

button {
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
}

button:hover {
    background-color: rgb(184, 177, 177);
}

button:active {
    background-color: rgb(207, 204, 204);
}

.col {
    display: flex;
    flex-direction: column;
}

.interface {
    background-color: black;
    color: white;
    width: 100%;
    text-align: right;
    font-size: bolder;
    border-radius: 10px;
}

p:not(.sub-interface) {
    font-size: 3.5rem;
    padding: 15px 20px;
}

p.sub-interface {
    font-size: 1.5rem;
    padding: 10px 20px 0 20px;
}