* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Digital-7', sans-serif;
}

@font-face {
    font-family: 'Digital-7';
    src: url(./misc/digital-7.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.delete-clear.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button.delete,
button.clear {
    border: none;
    font-size: 2rem;
    padding: 25px;
    margin: 5px 15px;
    flex: auto;
    border-radius: 12px;
}

.calculator.container {
    display: flex;
    align-items: center;
    background-color: #808080;
    padding: 20px;
    flex-flow: column nowrap;
    row-gap: 15px;
    border-radius: 20px;
}

.button.container {
    display: flex;
}

button:not(.delete):not(.clear) {
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
}

button:hover {
    background-color: #b8b1b1;
}

button:active {
    background-color: #cfcccc;
}

.col {
    display: flex;
    flex-direction: column;
}

.display {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    text-align: right;
    font-size: bolder;
    border-radius: 10px;
    max-width: 360px;
    word-wrap: break-word;
    word-break: break-all;
}

p:not(.sub-display) {
    font-size: 3.5rem;
    padding: 30px 20px;
}

p.sub-display {
    font-size: 1.5rem;
    padding: 10px 20px 0 20px;
}